.navbar{
box-shadow: 1px 1px 3px;
border-bottom: 2px solid blue;
background: #D3E7F0;
opacity: 0.9;
margin-top: -61px;
}

.nav-item{
font-size: 1.1rem;
padding-right: 30px;


}
.nav-item:last-child{
padding-right: 0;
}

.fa{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}
.loginlist{
	list-style-type: none;
}
.soikot{
   height: 683px;
   margin-top: 97px;
   margin-bottom: 15px;

}
.header{
	color: #263A9B;
	font-weight: bold;
	background-color:#C3E8FB;
	font-style: normal;
	text-align: center;
	margin-bottom: 15px;
}
.header1{
	
	color: #C00000;
	font-weight: bold;
	background-color:#F1E1B4;
	font-style: normal;
	text-align: center;
	margin-bottom: 40px;
}
.form-control{
	margin-top: 30px;
	margin-left: 20px;
	background-color: #DEFEE6;
}
.h4{
font-size: 25px;
font-weight: bold;
color: gray;
}
.p1{
font-size: 50px;
font-weight: bold;
color: red;
}
.text-center{
margin-top: 23px;
}
.soikot2{
	background-image: url('../img/bg4.jpg');
	margin-bottom: 15px;
}
.card-body{
	text-align: center;

}
.soikot3{
	margin-top: -20px;
}
.img-top{
	margin-top: -70px;
}
.soikot5{
	background-color:#F1E1B4 ;
	margin-right: 28px;
	margin-top: 52px;
}

.container{
	margin-top: 60px;
}

.circle{
	height: 30px;
	width: 40px;
	background: #282923;
	margin: 5% auto;
	margin-left: 10%;
	border-radius: 50%;
	position: relative;
	
	float:right;
}
.content{
	color: #fff;
	font-weight: bold;
	text-align: center;
}
.logo{
	height: 180px;
    margin-left: 452px;
    margin-bottom: 14px;
}
.ayojon{
	text-align: center;
}
.Innovatation{
	text-align: center;
}
#bg{
	background-color: #D7E9F1;
	padding-bottom: 120px;
}